@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-3xl;
  }
  a {
    @apply underline font-bold;
  }
}

body {
  transition: background-color 0.5s; /* Add a smooth transition effect */
}

.dark {
  background-color: black;
  color: rgb(159, 158, 156);
}

.light {
  background-color: white;
  color: black;
}